bs4==0.0.1
flask==2.3.3
flask_session==0.5.0
flask_sqlalchemy==3.0.5
SQLAlchemy==2.0.23
werkzeug==2.3.7
requests==2.31.0
google-api-python-client==2.101.0
pytest==7.4.2
python-dotenv==1.0.0
psycopg2-binary==2.9.9