* { /*main.css*/
    font-size: 20px;
}

ul { /*main.css*/
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li { /*main.css*/
    margin: 0 10px;
    float: right;
}

.hidden { /*index.css*/
    display: none;
}

.link-primary { /*login.css*/
    text-decoration: none;
} 
.link-primary:hover { /*login.css*/
    text-decoration: underline;
}

.container1 { /*login.css & register.css*/
    margin-top: 9rem;
}

h1 { /*index.css*/
    text-align:center;
}

.col-md-12 { /*description.css*/
    display: flex;
    justify-content: center;
}

iframe { /*description.css*/
    width: 70%;
    height: 500px;
    margin-top: 2em;
}

.movie_info_headings { /*description.css*/
    font-weight: bold;
    text-decoration: underline;
}

body {
    
}

.movies {
    outline: 2px #4CAF50 solid;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.movie {
    display: inline-flex;
    place-items: center;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    outline: 2px solid black;
    margin: 2.5% 2% 2% 2%;
}

form {
    width: 100%;
}

@media only screen and (min-width: 700px) {
    .movie {
        width: 41%;
    }
}

@media only screen and (min-width: 1310px) {
    .movie {
        width: 25%;
    }
}

@media only screen and (min-width: 1480px) {
    .movie {
        max-width: 20vw;
    }
}


.movie:hover { /*index.css*/
    transform: scale(1.2);
}

.index-button { /*index.css*/
    width: 100%;
    height: 100%;
    border-color: #4CAF50;
    align-items: center;
    background-color: rgb(32, 30, 30);
}

.login-center { /*login.css*/
    text-align: center;
}

.col-md-8 { /*description.css*/
    font-size: 25px;
}

.overview { /*description.css*/
    margin-top: 45px;
}

.btn.btn-outline-success {
    border-color:#4CAF50;
    color:#4CAF50;
}

.btn.btn-outline-success:hover {
    background-color:#4CAF50;
    color:white;
}